body{
    font-family: Arial, sans-serif;
    background:#f4f7fb;
    margin:0;
    padding:20px;
}

.container{
    max-width:500px;
    margin:auto;
    background:white;
    padding:25px;
    border-radius:20px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

.pharmacy-name{
    text-align:center;
    font-size:42px;
    font-weight:bold;
    color:#d10000;
    font-family:"Traditional Arabic", serif;
    text-shadow:
        0 2px 0 #ffffff,
        0 4px 8px rgba(0,0,0,0.25);
    margin-bottom:15px;
}

h1{
    text-align:center;
    color:#0066cc;
    margin-bottom:5px;
}

p{
    text-align:center;
    color:#666;
    margin-bottom:25px;
}

input,
select{
    width:100%;
    padding:12px;
    margin-top:8px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:10px;
    box-sizing:border-box;
    font-size:16px;
}

label{
    font-weight:bold;
    display:block;
    margin-bottom:5px;
}

.age-box{
    display:flex;
    gap:10px;
}

.age-box input{
    flex:2;
}

.age-box select{
    flex:1;
}

button{
    width:100%;
    background:#0066cc;
    color:white;
    border:none;
    padding:14px;
    border-radius:12px;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    opacity:0.9;
}

#result{
    margin-top:25px;
    background:#f8fbff;
    padding:20px;
    border-radius:18px;
    border-right:6px solid #1976d2;
    box-shadow:0 3px 12px rgba(0,0,0,0.08);
}

.result-title{
    text-align:center;
    font-size:30px;
    font-weight:bold;
    margin-bottom:20px;
    color:#222;
}

.result-item{
    background:white;
    padding:15px;
    margin:12px 0;
    border-radius:12px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 2px 8px rgba(0,0,0,0.08);
}

.result-label{
    font-weight:bold;
    font-size:18px;
    color:#333;
}

.result-value{
    color:#1565c0;
    font-weight:bold;
    font-size:22px;
}

.result-frequency{
    display:block;
    text-align:center;
    margin:15px 0;
    padding:15px;
    background:white;
    border-radius:12px;
    box-shadow:0 2px 8px rgba(0,0,0,0.08);
    color:#1565c0;
    font-size:22px;
    font-weight:bold;
}
#copyBtn{
    width:100%;
    margin-top:10px;
    background:#28a745;
    color:white;
    border:none;
    padding:14px;
    border-radius:12px;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
}
.footer{
    text-align:center;
    margin-top:25px;
    padding-top:15px;
    border-top:1px solid #ddd;
    color:#666;
    font-size:14px;
    line-height:1.8;
}
.logo-container{
    text-align:center;
    margin-bottom:15px;
}

.logo{
    width: 180px;
    max-width: 50%;
    height: auto;
    display: block;
    margin: 5px auto 20px;

}