body{
    font-family: Arial, sans-serif;
    background:#f4f7fb;
    margin:0;
    padding:20px;
}

.container{
    max-width:500px;
    margin:auto;
    background:white;
    padding:25px;
    border-radius:20px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

.pharmacy-name{
    text-align:center;
    color:#d40000;
    font-size:34px;
    font-weight:bold;
    font-family:"Traditional Arabic", serif;
    margin-bottom:5px;
}

h1{
    text-align:center;
    color:#0066cc;
    margin-bottom:5px;
}

p{
    text-align:center;
    color:#666;
    margin-bottom:25px;
}

input,
select{
    width:100%;
    padding:12px;
    margin-top:8px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:10px;
    box-sizing:border-box;
    font-size:16px;
}

.age-box{
    display:flex;
    gap:10px;
}

.age-box input{
    flex:2;
}

.age-box select{
    flex:1;
}

button{
    width:100%;
    background:#0066cc;
    color:white;
    border:none;
    padding:14px;
    border-radius:12px;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    opacity:0.9;
}

#result{
    margin-top:20px;
    background:#eef6ff;
    padding:20px;
    border-radius:15px;
    border-right:5px solid #0066cc;
    line-height:1.9;
}